#about{
    /* background-color: black; */
    color: white;
    height: 266px auto;
    font-family: poppins;
    padding: 16px 32px;
    padding-top: 50px;
    width: 88.3%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}.vM{
    cursor: pointer;
}
#con{
    /* box-shadow:inset 0 4px 8px 0 rgba(138, 136, 136, 0.23),inset 0 6px 20px 0 rgba(255, 255, 255, 0.23); */
    display: flex;
    justify-content: space-between;
    width: 88.3%;
    background-color: rgba(31, 31, 31, 1);
    /* border: 2px solid #f5eb8c; */
    border-top-right-radius: 50px;
    border-top: 2px solid #f5eb8c;
    justify-self: center;
    align-self: center;
    padding: 16px 16px;
}
#social{
    padding: 16px 20px;
    color: #fff;
    display: flex;
    text-transform: capitalize;
    border-radius: 18px;
}
#social h6{
    font-size: 25px;
    font-family: poppins;
    text-decoration: underline 2px rgb(245, 235, 140);
    font-weight: 700;
}
#contact{
    width: auto;
    padding: 16px 20px;
    color: rgba(128, 128, 128, 1);
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    gap: 7px;
    font-family: poppins;
    border-radius: 18px;
    align-self: flex-start;
}
#contact p{
    font-size: 18px;
}
#contact span{
    font-weight: 600;
}
#contact h6{
    color: #fff;
    font-size: 25px;
    text-decoration: underline 2px #f5eb8c;
    font-weight: 700;
    text-transform: capitalize;
}
#about span{
    color: rgba(245, 235, 140, 1);
}
#abt p{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    width: 387px;
    height: 96px auto;
}
#about h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
#misvis{
    width: 440px;
    display: flex;
    justify-content: space-between;
    /* min-width: 360px; */
    gap: 32px;
    height: 234px auto;
    flex-direction: column;
}
#abt h6{
    width: 195px;
    height: 44px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 8px;
    line-height: 21px;
    display: flex;
    color: rgba(245, 235, 140, 1);
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 235, 140, 0.1);
}
#vision, #mission{
    /* border-top: 2px solid rgb(14, 14, 14); */
    border-left: 5px solid #f5eb8c;
    /* background: linear-gradient(rgb(14, 14, 14), rgb(14, 14, 14)) padding-box, */
    /* linear-gradient(to top, rgba(31, 31, 31, 1), #f5eb8c); */
    /*  */
    padding-left: 16px ;
    /* width: 460px auto; */
}
#vision, #mission p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(224, 224, 224, 1);
    line-height: 21px;
}
.read{
    font-size: 600;
}
#abt{
    gap: 16px;
    align-self: start;
    display: flex;
    flex-direction:
     column;
}
@media screen and (max-width:1149px) {
    #contact p{
        font-size: 118x;
    }
    #contact span{
        font-weight: 600;
    }
    #contact h6, #social h6{
        font-size: 23px;
        text-decoration: underline 2px #f5eb8c;
        font-weight: 700;
        text-transform: capitalize;
    }
    #abt p{
        font-size: 24px;
        width: 350px;
    }
    #about h3{
        font-size: 18px;
    }
    #abt h6{
        font-size: 13px;
    }
    #vision, #mission{
        border-left: 4px solid #f5eb8c;
    }
    #vision, #mission p{
        font-size: 13px;
        
    }
    #contact{
        justify-self: center;
        /* width: 40%; */
    }
}
@media screen and (max-width:899px) {
    #contact p{
        font-size: 13px;
    }
    #contact span{
        font-weight: 600;
    }
    #contact h6, #social h6{
        font-size: 20px;
        text-decoration: underline 2px #f5eb8c;
        font-weight: 700;
        text-transform: capitalize;
    }
    #abt p{
        font-size: 20px;
        width: 340px;
        line-height: 30px;
    }
    #about h3{
        font-size: 16px;
    }
    #abt h6{
        font-size: 12px;
        text-align: center;
    }
    #vision, #mission{
        border-left: 3px solid #f5eb8c;
    }
    #vision, #mission p{
        font-size: 10px;
    }
}
@media screen and (max-width:788px) {
    #contact p{
        font-size: 11px;
    }
    #contact span{
        font-weight: 600;
    }
    #contact h6, #social h6{
        font-size: 14px;
        text-decoration: underline 2px #f5eb8c;
        font-weight: 700;
        text-transform: capitalize;
    }
    #abt p{
        font-size: 18px;
        width: 304px;
    }
    #about h3{
        font-size: 15px;
    }
    #abt h6{
        font-size: 10px;
        text-align: center;
        /* width: 170px; */
    }
    #vision, #mission{
        border-left: 3px solid #f5eb8c;
    }
    #vision, #mission p{
        font-size: 10px;
    }
}
@media screen and (max-width:620px) {
    #con{
        flex-direction: column;
        width: 100%;
        padding: 16px 16px;
        /* margin: 0 160px; */
    }
    #contact{
        align-self: start;
        padding: 8px 16px;
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    #contact p{
        font-size: 12px;
    }
    #contact span{
        font-weight: 600;
    }
    #contact h6, #social h6{
        font-size: 16px;
        text-decoration: underline 2px #f5eb8c;
        font-weight: 700;
        text-transform: capitalize;
    }
    #about{
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        width: 100%;
        padding: 16px 16px;
    }
    #vision, #mission p{
        font-size: 14px;
        width: 100%;
        text-align: start;
    }
    #abt p{
        font-size: 28px;
        /* width: 387px; */
        width: 100%;
        /* height: auto; */
    }
    #abt h6{
        font-size: 14px;
        text-align: center;
    }
    #about h3{
        font-size: 20px;
        width:  auto;
        text-align: start;
    }
    #abt{
        width: 100%;
        align-items: center;
        text-align: center;
        align-self: center;
    }
    #misvis{
        width: 100%;
        padding-top: 40px;
    }
}
@media screen and (max-width:430px) {
    #contact , #social{
        /* align-self: center; */
        padding: 8px 16px;
        /* width: 88.3%; */
    }
    #about{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 16px 16px;
    }
    #vision, #mission p{
        font-size: 16px;
        width: 100%;
        text-align: start;
    }
    #abt p{
        font-size: 24px;
        /* width: 387px; */
        width: 100%;
        /* height: auto; */
    }
    #abt h6{
        font-size: 14px;
        text-align: center;
    }
    #about h3{
        font-size: 20px;
        width:  auto;
        text-align: start;
    }
    #abt{
        width: 100%;
        align-items: center;
        text-align: center;
        align-self: center;
    }
    #misvis{
        width: 100%;
        padding-top: 40px;
    }
}
@media screen and (max-width:396px) {
    #abt p{
        font-size: 25px;
        line-height: 25px;
    }
    #vision, #mission p{
        font-size: 12px;
    }
}